﻿@model InsightHub.Web.Models.ReportsMVCViewModels.ReportDetailsMVCViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTags)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ReportTags)
            {
                @Html.DisplayFor(model => item.TagName)
                <br>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DownloadCount)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReportID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
