﻿@model InsightHub.Web.Models.ReportsMVCViewModels.ReportDetailsMVCViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTags)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ReportTags)
            {
                @Html.DisplayFor(model => item.TagName)
                <br>
            }
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DownloadCount)
        </dd>
        <dd>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Download File", "DownloadFile", "Reports", new
                       {
                           reportID = Model.ReportID,
                       }, new { @class = "btn btn-outline-danger btn-custom" })
            }
            else
            {
                @Html.ActionLink("Download File", "DownloadFileUnauthenticated", "Reports", new { Model.ReportID }, new { @class = "btn btn-outline-danger btn-custom" })
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value) == Model.Author.UserID)
    {
        <a asp-action="Edit" asp-route-id="@Model.ReportID">Edit</a>
    }
        <a asp-action="Index">Back to List</a>    
</div>
