﻿@model InsightHub.Web.Models.ReportApiViewModels.ReportNameDescrViewModel

@{
    ViewData["Title"] = "DownloadFile";
}

<h1>You have successfully downloaded this report</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Details/@Model.ReportID">Back to List</a>
</div>