﻿@model InsightHub.Web.Models.ReportsMVCViewModels.ReportEditMVCViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportID" />
            <div class="form-group">
                <label asp-for="ReportName" class="control-label"></label>
                <input asp-for="ReportName" class="form-control" />
                <span asp-validation-for="ReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndustryID" class="control-label"></label>
                <select asp-for="IndustryID" class="form-control" asp-items="ViewBag.IndustryID"></select>
                <span asp-validation-for="IndustryID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <select asp-for="Tags" class="form-control" asp-items="ViewBag.TagName"></select>
                </div>*@
            <div class="form-group">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Change Tags
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Select tags</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                @Html.ListBoxFor(model => model.Tags, ViewBag.TagName as MultiSelectList,
                               new { @class = "form-control", id = "lb", multiple = "multiple" })
                            </div>

                            <div class="container">
                                <h3></h3>
                                <a href="#" data-toggle="popover" title=""
                                   data-content="Hold ctrl or shift (or drag with the mouse) to select more than one">Help?</a>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="popover"]').popover();
                                });
                            </script>

                            <div class="container">
                                <h2></h2>
                                <a href="#demo" class="btn btn-primary" data-toggle="collapse">Add new tag</a>
                                <div id="demo" class="collapse">

                                    <div class="form-group">
                                        <label for="usr">Name:</label>
                                        <input type="text" class="form-control" id="Name">
                                    </div>

                                    <input type="button" class="btn btn-outline-success" value="Add" id="Save" />
                                    <span id="msg" style="color:red;" />
                                    <script>
                                        $('#Save').click(function () {
                                            var newTag = new Object();
                                            newTag.TagName = $("#Name").val();
                                            var tag = JSON.stringify(newTag);
                                            $.ajax({
                                                url: 'http://localhost:60972/api/tags',
                                                type: 'POST',
                                                dataType: "json",
                                                data: tag,
                                                contentType: 'application/json; charset=utf-8',
                                                success: function (data) {
                                                    toastr.options.positionClass = "toast-top-center";
                                                    toastr.success('You have created a new tag!');
                                                    $(function () {
                                                        $(function () {
                                                            var value = $("#Name").val();
                                                            var listBox = $("#lb");
                                                            var option = $("<option />").val(value).html(value);
                                                            listBox.append(option);
                                                            $("#Name").val("");
                                                            return false;
                                                        });
                                                    });
                                                },
                                                error: function (xhr, textStatus, errorThrown) {
                                                    if (xhr.status == 400) {
                                                        toastr.options.positionClass = "toast-top-center";
                                                        toastr.warning('Tag name must be between 2 and 50 symbols');
                                                    }
                                                    else {
                                                        toastr.options.positionClass = "toast-top-center";
                                                        toastr.error('Tag with this name already exists!');
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <div class="control-label">
                    <div class="custom-file">
                        <input asp-for="File" class="form-control custom-file-input" />
                        <span asp-validation-for="File" class="text-danger"></span>
                        <label class="custom-file-label">@Model.FileTitle</label>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(x => x.AuthorID)

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $("#File").change(function () {
        var val = $(this).val();
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'pdf':
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                var size = $(this).get(0).files[0].size;
                if (size > 25 * 1024 * 1025) {
                    toastr.options.positionClass = "toast-top-center";
                    toastr.error('File too large. Your report wont be updated');
                }
                break;
            default:
                $(this).val('');
                toastr.options.positionClass = "toast-top-center";
                toastr.warning('Please upload your file in .pdf format!');
                return false;
        }
    });
</script>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
