﻿@model IEnumerable<InsightHub.Web.Models.ReportsMVCViewModels.ReportsIndexMVCViewModel>

@{
    ViewData["Title"] = "Reports";
}

<style>
        body {
            /* Margin bottom by footer height */
            background-image: url('../img/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>

<h1>Reports</h1>

    @if (User.IsInRole("Author") || User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create new", "Create", "Reports", null, new { @class = "btn btn-primary" })
        </p>
    }
    <table id="tryout" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Industry</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <script>
    /* Formatting function for row details - modify as you need */
    var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    @{int userID = User.Identity.IsAuthenticated ? int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value) : -1; }
    var currentUserID = @userID;

    var isAdmin = @User.IsInRole("Admin").ToString().ToLower();

    function format(report) {
        var result = '<table class="nopad" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' + '<td colspan="4"> Tags: ' + report.reportTags.map(tag => tag.tagName).join(", "); + '</td></tr>';
        result += '<tr><td><a class="btn btn-outline-primary btn-sm btn-custom" href=/Reports/Details/' + report.reportID + '>Details</a>';

        if ((isAuthenticated && currentUserID == report.author.userID) || isAdmin) {
            result += '<a class="btn btn-outline-success btn-sm btn-custom" href=/Reports/Edit/' + report.reportID + '>Edit</a>';
            result += '<a class="btn btn-outline-danger btn-sm btn-custom" href=/Reports/Delete/' + report.reportID + '>Delete</a>';
        }

        if (isAdmin && !report.isFeatured) {
            result += '<a class="btn btn-outline-info btn-sm btn-custom" href=/Reports/FeatureReport/' + report.reportID + '>Feature</a>';
        }

        result += '</td></tr></table>';
        return result;
    }

    $(document).ready(function () {
                var table = $('#tryout').DataTable({
                    "ajax": {
                        "url": "/api/reports",
                "dataSrc": '',
            },
            "columns": [
                {
                    "className": 'details-control',
                    "data": null,
                    "defaultContent": '',
                },
                { data: "reportName" },
                { data: "description" },
                {
                    data: "author",
                    render: function (data) {
            return data.firstName + " " + data.lastName;
        }
                },
                { data: "industry.industryName" },
                {
                    data: "reportID",
                    render: function (data) {
                        if (isAuthenticated) {
                            return '<a class="btn btn-outline-success" href=/Reports/DownloadFile?reportID=' + data + '>Download</a>';
                        }
                        else {
                            return '<a class="btn btn-outline-success" href=/Identity/Account/Login?returnUrl=/Reports/Details/' + data + '>Download</a>';
                        }
        }
                },
            ],
        });
        // Add event listener for opening and closing details
        $('#tryout tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
    </script>
