﻿@model IEnumerable<InsightHub.Web.Models.ReportsMVCViewModels.ReportMyDownloadsMVCViewModel>

@{
    ViewData["Title"] = "My Downloads";
}

<style>
    body {
        /* Margin bottom by footer height */
        background-image: url('../img/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<h1>My Downloads</h1>

@if (!Model.Any())
{
    <h3>You haven't downloaded any reports yet!</h3>
}
else
{
    <table id="mydownloads" class="table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileTitle)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-custom" asp-action="Details" asp-route-id="@item.ReportID">Details</a>

                        @Html.ActionLink("DownloadFile", "DownloadFile", "Reports", new
                   {
                       reportID = item.ReportID,
                   }, new { @class = "btn btn-outline-danger btn-custom" })
                    </td>
                </tr>
        }
    </tbody>
</table>
}