﻿@model InsightHub.Web.Models.TagApiViewModels.TagApiInputModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TagName" class="control-label"></label>
                <input id="Name" asp-for="TagName" class="form-control" />
                <span asp-validation-for="TagName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-outline-success" value="Save" id="Save" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $("#Save").click(function () {
            var newTag = new Object();
            newTag.TagName = $("#Name").val();
            var tag = JSON.stringify(newTag);
            $.ajax({
                url: 'http://localhost:60972/api/tags',
                type: 'POST',
                dataType: "json",
                data: tag,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    toastr.options.positionClass = "toast-top-center";
                    toastr.success('You have created a new tag!');
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status == 400) {
                        toastr.options.positionClass = "toast-top-center";
                        toastr.warning('Tag name must be between 2 and 50 symbols');
                    }
                    else {
                        toastr.options.positionClass = "toast-top-center";
                        toastr.error('Tag with this name already exists!');
                    }
                }
            });
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}