﻿@model InsightHub.Web.Models.TagApiViewModels.TagApiDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagReports)
        </dt>
        <dd class="col-sm-10">
            @foreach (var report in Model.TagReports)
            {
                @Html.DisplayFor(modelItem => report.ReportName)
                <br>
                @Html.DisplayFor(modelItem => report.Description)
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TagID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
