﻿@model InsightHub.Web.Models.TagApiViewModels.TagApiDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagReports)
        </dt>
        <dd class="col-sm-10">
            @foreach (var report in Model.TagReports)
            {
                <span><strong>Title : </strong></span>
                <a asp-controller="Reports" asp-action="Details" asp-route-id="@report.ReportID">@report.ReportName</a>
                <br>
                <span><strong>Description : </strong></span>
                @Html.DisplayFor(modelItem => report.Description)
                <br><br>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TagID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
