﻿@model IEnumerable<InsightHub.Web.Models.TagApiViewModels.TagApiDetailsViewModel>

@{
    ViewData["Title"] = "Tags";
}

<style>
    body {
        /* Margin bottom by footer height */
        background-image: url('../img/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<h1>Tags</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Author"))
{
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
}
<table id="tags" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagReports)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @foreach (var report in item.TagReports)
                    {
                        <span><strong>Title : </strong></span>
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@report.ReportID">@report.ReportName</a>

                        <br>
                        <span><strong>Description : </strong></span>
                        @Html.DisplayFor(modelItem => report.Description)
                        <br>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-custom" asp-action="Details" asp-route-id="@item.TagID">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <br />                    
                        <a class="btn btn-outline-success btn-custom" asp-action="Edit" asp-route-id="@item.TagID">Edit</a>
                        <br />                    
                        <a class="btn btn-outline-danger btn-custom" asp-action="Delete" asp-route-id="@item.TagID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
