﻿@model InsightHub.Web.Models.ApprovalsModel

@{
    ViewData["Title"] = "Approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration Approvals</h1>

<p>
    @await Html.PartialAsync("PendingApprovalUsers", Model.PendingUsers)
    <br />
    @await Html.PartialAsync("PendingApprovalReports", Model.PendingReports)
</p>
