﻿@model IEnumerable<InsightHub.Web.Models.UserViewModels.UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        /* Margin bottom by footer height */
        background-image: url('../img/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<h1>Index</h1>

<table id="users" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>

            @if (User.IsInRole("Admin") && User.Identity.Name == user.Email)
            {
                <td>ADMIN</td>
            }
            else
            {
        <td>
            @Html.ActionLink("Details", "Details", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Delete", "Delete", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-danger" })
            @if (user.IsBanned)
            {
                @Html.ActionLink("Unban", "Unban", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-success" })
            }
            else
            {
                @Html.ActionLink("Ban", "Ban", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-danger" })
            }
            @if (!user.IsApprovedByAdmin || user.HasPendingReports)
            {
                @Html.ActionLink("Pending Approvals", "PendingApprovals", "Users", new { id = user.UserID }, new { @class = "btn btn-danger flash btn-custom" })
            }
        </td>
            }
        </tr>
}
    </tbody>
</table>
