﻿@model ICollection<InsightHub.Web.Models.UserViewModels.UserIndexViewModel>

@if (!Model.Any())
{
    <strong>No pending registration approvals currently!</strong>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.First().FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.First().Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Approve", "ApprovalConfirmed", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Reject", "RejectUserRegistration", "Users", new { id = user.UserID }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }

        </tbody>
    </table>

}