﻿@model ICollection<InsightHub.Web.Models.ReportsMVCViewModels.ReportsIndexMVCViewModel>

<h1>Report Approvals</h1>

@if (!Model.Any())
{
    <strong>No pending report approvals currently!</strong>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ReportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Author.Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => report.ReportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => report.Author.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Approve", "ApprovalReportConfirmed", "Users", new { id = report.ReportID }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Reject", "RejectReport", "Users", new { id = report.ReportID }, new { @class = "btn btn-outline-danger" })
                        @Html.ActionLink("Download", "DownloadFileForApproval", "Reports", new { id = report.ReportID }, new { @class = "btn btn-outline-primary" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
