﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-custom {
    margin-left: 0.25em;
    margin-top: 0.25em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*body {

  margin-bottom: 60px;
}*/

body {
    /* Margin bottom by footer height */    
    background-image: url('../img/create.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*video#video {
    position: fixed;
    top: 59.5px;
    left: 0;
    right: 0;
    width: 100%;
}*/


/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there
}*/
.footer {
    color: #333;
    font-size: 14px;
    text-align: left;
    vertical-align: bottom;
    line-height: 45px;
}

    .footer:before {
        clear: both;
        display: block;
        height: 100%;
        min-height: 100%;
    }

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.title {
    text-align: center;
    padding-top: 30px;
    color: black;
}

.navbar {
    z-index: 100;
}
carousel-body {
    position: fixed;
}
carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-inner {
    text-align: center;
    background-image: url('../carousel-item-color.png');
    width: 500px;
    min-height: 30em;
    padding-left: 10em;
    padding-right: 10em;
}
@media screen and (max-width: 1200px) {
    .carousel-inner {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media screen and (max-width: 800px) { 
    .carousel-inner {
        padding-left: 0;
        padding-right: 0;
    }
}

.toast-top-center {
    top: 100px;
    margin: 0 auto;
    left: 40%;
}

@keyframes flash {
    from {
        color: yellow;
    }

    to {
        color: black;
    }
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.nopad tbody td {
    padding: 8px 5px !important;
}



