﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InsightHub.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://fontawesome.com/icons/adobe?style=brands"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InsightHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu">
                            @if ((User.IsInRole("Admin")) || (User.IsInRole("Author")))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Create">Create New</a>
                            }
                            <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="Index">All Reports</a>
                            @if ((User.IsInRole("Admin")) || (User.IsInRole("Author")))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="MyReports">My Reports</a>
                            }
                            @if ((User.IsInRole("Admin")) || (User.IsInRole("Author")) || (User.IsInRole("Customer")))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="MyDownloads">My Downloads</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
                        <div class="dropdown-menu">
                            @if ((User.IsInRole("Admin")) || (User.IsInRole("Author")))
                            {
                            <a class="dropdown-item" asp-area="" asp-controller="Tags" asp-action="Create">Create New</a>
                            }
                            <a class="dropdown-item" asp-area="" asp-controller="Tags" asp-action="Index">All Tags</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Industries</a>
                        <div class="dropdown-menu">
                            @if ((User.IsInRole("Admin")))
                            {
                            <a class="dropdown-item" asp-area="" asp-controller="Industries" asp-action="Create">Create New</a>
                            }
                            <a class="dropdown-item" asp-area="" asp-controller="Industries" asp-action="Index">All Industries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="PendingApprovals">Approvals</a>
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top-0 footer text-muted">
        <div class="container">
            @*&copy; 2020 - InsightHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <br>*@
            InsightHub - Api - <a href="http://localhost:60972/swagger/index.html" class="btn-custom">Develop</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/datatables.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
