﻿@model InsightHub.Web.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@*<link rel="stylesheet" type="text/css" href="styles.css" />*@
@*<style>
        body {
            background-image: url('paul-fiedler-q1qpk60bv1g-unsplash.jpg');
            /*background-color: wheat;*/
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>*@

<style>
    video#video {
        position: fixed;
        top: 3.5em;
        left: 0;
        right: 0;
        width: 100%;
    }

    body {
        background-repeat: no-repeat;
        background-image: none;
        background-color: #195e83;
    }
</style>

<body>
    <video id="video" autoplay loop muted>
        <source src="~/img/gettyimages-1004624630-640_adpp.mp4" type="video/mp4" />
    </video>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active" style="background-color:gray"></li>
            <li data-target="#demo" data-slide-to="1" style="background-color:gray"></li>
            <li data-target="#demo" data-slide-to="2" style="background-color:gray"></li>
        </ul>
        <!-- The slideshow -->
        <div id="carousel-body" class="carousel-inner">
            <div class="carousel-item active">
                <h1 class="title">Most downloaded reports</h1>
                @if (Model.MostDownloaded.Count() > 0)
                {
                    @await Html.PartialAsync("TopThreeReports", Model.MostDownloaded)
                }
                else
                {
                    <span>
                        No reports downloaded yet!
                    </span>
                }
            </div>
            <div class="carousel-item">
                <h1 class="title">Latest reports</h1>
                @if (Model.MostRecent.Count() > 0)
                {
                    @await Html.PartialAsync("TopThreeReports", Model.MostRecent)
                }
                else
                {
                    <span>
                        No reports created yet!
                    </span>
                }
            </div>
            <div class="carousel-item">
                <h1 class="title">Featured reports</h1>
                @if (Model.Featured.Count() > 0)
                {
                    @await Html.PartialAsync("TopThreeReports", Model.Featured)
                }
                else
                {
                    <span>
                        No reports featured yet!
                    </span>
                }
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span id="arrow-left" class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</body>
