﻿@model IEnumerable<InsightHub.Services.ReportDTOs.DTOs.ReportDTO>

@*<form asp-controller="Reports" asp-action="FilterReportsByDownloads" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">*@

<table id="carousel-table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Industry.IndustryName)
                </td>
                <td>
                    <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.ReportID" style="color:green">View</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>

