﻿@model InsightHub.Web.Models.IndustryMVCViewModels.IndustryMVCCreateViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IndustryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
