﻿@model InsightHub.Web.Models.IndustryMVCViewModels.IndustryMVCIndexViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports)
        </dt>
        <dd class="col-sm-10">
            @foreach (var rep in Model.Reports)
            {
                @Html.ActionLink(rep.ReportName, "Details", "Reports", new { id = rep.ReportID })
                <br>
            }
        </dd>
    </dl>
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
