﻿@model InsightHub.Web.Models.IndustryMVCViewModels.IndustryMVCCreateViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (User.IsInRole("Admin"))
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IndustryID" />
                <div class="form-group">
                    <label asp-for="IndustryName" class="control-label"></label>
                    <input asp-for="IndustryName" class="form-control" />
                    <span asp-validation-for="IndustryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

