﻿@model IEnumerable<InsightHub.Web.Models.IndustryMVCViewModels.IndustryMVCIndexViewModel>

@{
    ViewData["Title"] = "Industries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        /* Margin bottom by footer height */
        background-image: url('../img/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    </style>

<h1>Industries</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
}
<table id="industries" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndustryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>            
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (!item.Subscriptions.Any(sub => sub.UserID == int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)))
                    {
                        @Html.ActionLink("Subscribe", "SubscribeToIndustry", "Industries", new { industryID = item.IndustryID }, new { @class = "btn btn-outline-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Unsubscribe", "UnsubscribeFromIndustry", "Industries", new { industryID = item.IndustryID }, new { @class = "btn btn-outline-danger" })
                    }
                }
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IndustryID">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IndustryID">Edit</a>                    
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IndustryID">Delete</a>                    
                }

            </td>
        </tr>
}
    </tbody>
</table>
